<div class="card">
  <div class="card-header">
    <div class="row justify-content-center">
      <h4 class="text-center">REGISTER</h4>
    </div>
  </div>

  <div class="card-body">
    <fieldset>
      <form [formGroup]="myForm" (onsubmit)="fnRegister()">
        <div class="form-group">
          <label for="first_name">Name</label>
          <input formControlName="first_name" class="form-control" type="text" id="first_name" name="first_name">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input formControlName="email" class="form-control" type="email" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" class="form-control" type="password" id="password" name="password">
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block btn-raised" [disabled]="myForm.invalid" (click)="fnRegister()"
            type="submit">Register</button>
          <div *ngIf="getFormErrors('email') || getFormErrors('password') || getFormErrors('first_name')"
            class="alert alert-danger">
            <p *ngIf="getFormErrors('first_name')">Name required</p>
            <p *ngIf="getFormErrors('email')">Inavelid E-mail</p>
            <p *ngIf="getFormErrors('password')">Password Required</p>
          </div>
        </div>

        <a [routerLink]="['/auth/login']">Back to Login</a>
      </form>
    </fieldset>
  </div>

</div>