<div class="card">
  <div class="card-header">
    <div class="row justify-content-center">
      <h4 class="text-center">LOGIN</h4>
    </div>
  </div>
  <div class="card-body">
    <fieldset>
      <form (submit)="loginAction()" [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input formControlName="email" class="form-control" type="email" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" class="form-control" type="password" id="password" name="password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger btn-block btn-raised" type="submit"
            [disabled]="loginForm.invalid">
            <span>Login</span>
          </button>
          <div *ngIf="getFormErrors('email') || getFormErrors('password')" class="alert alert-danger">
            <p *ngIf="getFormErrors('email')">Invalid E-mail</p>
            <p *ngIf="getFormErrors('password')">Password required</p>
          </div>
        </div>

        <a [routerLink]="['/auth/register']">Don't have an account? Sign up here!</a>
      </form>
    </fieldset>
  </div>
</div>