<div class="auth-content">
  <div class="auth-subcontent">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-6 col-sm-9">
          <div class="row vh-100 align-items-center justify-content-md-center">
            <!-- Login -->

            <div class="col col-log-12 col-sm-12">

              <div class="card bg-dark">
                <div class="card-body">

                  <div class="card-header">
                    <div class="row justify-content-center">
                      <img class="img-fluid align-self-center" src="../../../../assets/images/logo.png">
                    </div>
                  </div>
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>

            <!-- Login -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>