<div class="col-12 main-content">
  <div class="custom-border">
    <app-topnav></app-topnav>
  </div>

  <div class="row">

    <div class="custom-content custom-border col-3">
      <app-right-content></app-right-content>
    </div>

    <div class="custom-content custom-border col-8">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>