.container{
  background-color: teal;
  /* background-color: rgb(241, 241, 241); */
  padding: 3%;
}

.custom-content {
  /* background-color: rgba(243, 243, 243, 0.4); */
  /* background-color: #22262a; */
  /* background-color: teal; */
  /* background-color: rgb(0,128,128, 0.5); */
  margin: 2%;
  padding: 1%;

 background-color: rgba(1, 25, 27, 0.8);

}

.custom-border{
  border-radius: 14px;
}
.main-content {
/* background-color: #0e1012; */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e1012+19,008080+100 */

background-image: url('../../../assets/images/main-bg.jpg');
background-size: cover;
background-attachment: fixed;

}


