<div *ngIf="markedHeroes.length>0; else notification">
  <div class="card custom-card-hero" data-toggle="modal" data-target="#exampleModal" (click)="showDetails(position)"
    *ngFor="let hero of markedHeroes; let position = index">
    <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.id}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{hero.name}}</h5>
    </div>
  </div>
</div>
<ng-template #notification>
  <div class="jumbotron">
    <h3 class=" text-center">You don't have marked heroes yet</h3>
  </div>
</ng-template>

<!-- Modal -->
<div *ngIf="selectedHero!=null">

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center w-100" id="exampleModalLabel">THANOS {{selectedHero.name}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class=row>
            <div class="col-5" style="background-color: aquamarine">
              <!-- <img class="img-fluid" src="http://i.annihil.us/u/prod/marvel/i/mg/6/40/5274137e3e2cd.jpg"> -->
              <img class="img-fluid" src="{{selectedHero.thumbnail.path}}.{{selectedHero.thumbnail.extension}}">
            </div>
            <div class="col-7">
              <p>comics:: {{selectedHero.comics.available}}</p>
              <p>series:: {{selectedHero.series.available}}</p>
              <p>description:: {{selectedHero.description}}</p>
              <!-- <p>comics:: 247</p>
            <p>stories:: 247</p>
            <p>description</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





<style>
  .custom-card-hero {
    cursor: pointer;
  }
</style>