<nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active flex-fill" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
      aria-controls="nav-home" aria-selected="true">
      <h5>
        <fa-icon [icon]="icons.faMask"></fa-icon>
        HEROES API
      </h5>
    </a>
    <a class="nav-item nav-link flex-fill" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
      aria-controls="nav-profile" aria-selected="false">
      <h5>
        <fa-icon [icon]="icons.faBookmark"></fa-icon>
        MY HEROES
      </h5>
    </a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <!--    ------>
    <div class="pt-2 bg-white">
      <div class="p-2">
        <input [formControl]="searchControl" class="form-control" type="search" id="searchBox" name="searchBox"
          placeholder="Search hero...">
      </div>
      <!-- Hero component -->
      <table class="table table-striped pt-2 table-hover table-sm">
        <thead class="thead-dark">
          <th>Image</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroesList; let position=index">

            <td>
              <img width="120" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.id}}">
            </td>
            <td>

              <div class="row">

                <div class="col">
                  <h3>{{hero.name}}</h3>
                  <p class="text-justify">{{hero.description}}</p>
                </div>
                <div class="col-md-auto">
                  <button type="button" class="btn btn-info" (click)="saveHero(position)">
                    <fa-icon [icon]="icons.faSave" size="2x"></fa-icon>
                    Save
                  </button>
                </div>

              </div>



            </td>

          </tr>
        </tbody>
      </table>
      <!-- Hero card component END -->
    </div>
    <!--    ------>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <app-heroes-marked [savedHeroes]="markedHeroes"></app-heroes-marked>
  </div>
</div>