.hero-custom-cards{

      margin: 2%;
  padding: 1%;
    /* background-color: # */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#002023+20,008080+100 */
background: #002023; /* Old browsers */
background: -moz-linear-gradient(top,  #002023 20%, #008080 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #002023 20%,#008080 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #002023 20%,#008080 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002023', endColorstr='#008080',GradientType=0 ); /* IE6-9 */

}

img {
  border-radius: 5px;
}