<div class="pt-2 bg-white">
  <div *ngIf="savedHeroes.length>0; else notification">
    <div class="p-2">
      <input [formControl]="searchControl" class="form-control" type="search" id="searchBox" name="searchBox"
        placeholder="Search hero...">
    </div>
    <table class="table table-striped pt-2 table-hover">
      <thead class="thead-light">
        <th>Image</th>
        <th>Details</th>
      </thead>
      <tbody>
        <tr *ngFor="let hero of savedHeroes; let position=index">

          <td>
            <img width="120" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.id}}">
          </td>
          <td>

            <div class="row">

              <div class="col">
                <h3>{{hero.name}}</h3>
                <p class="text-justify">{{hero.description}}</p>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-primary" (click)="markHero(position)">
                  <fa-icon [icon]="icons.faThumbtack" size="2x"></fa-icon>
                </button>
                <button type="button" class="btn btn-danger" (click)="unmarkHero(hero.id)">
                  <fa-icon [icon]="icons.faUnlink" size="2x"></fa-icon>
                </button>
              </div>

            </div>

          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #notification>
    <div class="jumbotron">
      <h3>Aun no tienes heroes guardados.</h3>
    </div>
  </ng-template>
</div>