

<nav class="nav nav-pills flex-sm-row bg-dark">

<!--  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/home" routerLinkActive="active"> <i class="fa fa-fw fa-home fa-2x"></i><p>Home</p></a>-->

<!--  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/messages" routerLinkActive="active"><i class="fa fa-fw fa-envelope fa-2x"></i>-->
<!--    <p>Messages</p></a>-->
<!--  <a class="flex-sm-fill text-sm-center nav-link" ui-sref="whislist" ui-sref-active="active"><i class="fa fa-fw fa-star fa-2x"></i>-->
<!--    <p>Whislist</p></a>-->
<!--  <a class="flex-sm-fill text-sm-center nav-link" ui-sref="settings" ui-sref-active="active"><i class="fa fa-fw fa-cog fa-2x"></i>-->
<!--    <p>Settings</p></a>-->
  <a class=" text-sm-center" routerLink="home/heroes"><i class="fa fa-fw fa-user fa-2x"></i>
    <img src="../../../assets/images/marvellogo.png" width="120px">
  </a>
  <button class="btn btn-dark" (click)="logOut()">Log Out</button>

</nav>
