/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background-color: rgba(205, 205, 205, 0.84); */
}
.bg-danger{
  background-color: #990304 !important;
}
.bg-dark{
  /* background-color: rgb(33,33,33) !important; */
  background-color: #002023 !important;
  /* background-color: #22262a !important; */
}

a{
  color: teal;
}

